<% content_for :questions_content do %>

  <% if @questions.size > 0 %>
    <ol>
      <% @questions.each do |question| %>
        <li><%= link_to question.question, question_path(question) %><% if current_user %>&nbsp;[<%= link_to 'editar', edit_question_path(question) %>]<% end %></li>
      <% end %>
    </ol>
  <% else %>
    <div class="alert-message warning"><strong>Atenção!</strong>&nbsp;Nenhum registro encontrado.</div>
  <% end %>

<% end %>
