<% content_for :questions_options do %>

  <%= link_to 'â† Voltar', questions_path, :class => "btn" %>

<% end %>

<% content_for :questions_content do %>

  <h2>Nova pergunta</h2>

  <hr style="margin-top:0;"/>

  <%= render 'form' %>

<% end %>
