<h2 class="topic-header"><%= link_to topic.title, subject_topic_path(topic.subject, topic) %> 
  <% if current_user %><small>[<%= link_to 'editar', edit_subject_topic_path(@subject, topic) %>]</small><% end %>
</h2>
<%= topic.content.html_safe %>
