<% content_for :topic_title do %>
  	
  	&rarr;&nbsp;<%= link_to @subject.title, subject_path(@subject) %>
  	
<% end %>


<% content_for :topic_content do %>

  <h2>Editar tópico</h2>

  <%= render 'edit_form' %>

<% end %>
