<% content_for :subject_topic_title do %>/Editar tópico<% end %>


<% content_for :topic_title do %>
  	
  	<small><%= truncate(@subject.title, :length => 55, :separator => ' ') %></small>
  	
<% end %>


<% content_for :topic_content do %>

  <h2>Editar tópico&nbsp;<small><%= truncate(@topic.title, :length => 55, :separator => ' ') %></small></h2>

  <%= render 'edit_form' %>

<% end %>
