body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}
/*
a { color: #4183C4; text-decoration: none;}
a:visited { color: #4183C4; text-decoration: none; }
a:hover { color: #4183C4; text-decoration: underline; }
*/
div.field, div.actions {
  margin-bottom: 10px;
}
/*
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}
*/

#error_explanation ul {margin-bottom:0;}
#error_explanation ul li {color: #FFFFFF;font-size: 12px;}

ul.tmenu {list-style: none;margin: 10px 0 0;padding: 0;}
ul.tmenu li {display: inline;}

.tfooter {
  font-size: 0.8em;
  color: #9D9EA4;
  margin-bottom: 10px;
}

.topic-header {
  padding-top: 15px;
}

.title {font-size:1.6em;color: #3C3C3C;line-height:25px;}
.title small {color:#BFBFBF;font-size:14px;}
.list_article {border-bottom:1px dotted #CCCCCC;margin-bottom:20px;padding-bottom:5px;}
.nav_title {margin-top:0;background:url("/images/border-2px.gif") repeat-x scroll left bottom transparent;border-bottom:1px solid rgba(255, 255, 255, 0.898);}
.related_sidebar {/*border-left:1px dotted #CCCCCC;*/}
.related_sidebar h6 {background:url("/images/border-2px.gif") repeat-x scroll left bottom transparent;border-bottom:1px solid rgba(255, 255, 255, 0.898);margin-bottom:18px;}
.label a {color:#FFFFFF;}
.action_button {margin-bottom:18px;}
.pages_helper {margin-bottom:18px;}
.article_pic {float:left;margin-right:10px;}
#map {height:320px;border:1px solid #CCCCCC;}
footer {margin-top: 17px;padding-top: 17px;background:url("/images/border_footer.gif") repeat-x scroll left top transparent;border-top:1px solid rgba(255, 255, 255, 0.898);}
.read {background-color:#DEFAD7;}
.highlight {background-color:#DEFAD7;}
.unread {background-color:#F6FAD7;}
.message_bg {background-color:#F2F2F2;}
.light_grey {color:#BEBEBE;}
.search_btn {background-image:url("/images/lupa.png")}
