<%= content_for :title do %>/Atualizar dados pessoais<% end %>

<div class="row">
  
  <div class="span8">
    <%= render 'form' %>
  </div>
  
  <div class="span8">
    <%= render 'settings_form' %>
  </div>
  
</div>
