<%= content_for :head do %>
  <%= stylesheet_link_tag 'slides.css', :media => 'screen' %>
  <%= javascript_include_tag 'slides.min.jquery.js' %>     
  <script src="http://gsgd.co.uk/sandbox/jquery/easing/jquery.easing.1.3.js"></script>
  
  <script>
		$(function(){
			$('#slides').slides({
				preload: true,
				preloadImage: 'img/loading.gif',
				play: 8000,
				pause: 2500,
				hoverPause: true,
				effect: "fade",
				animationStart: function(current){
					$('.caption').animate({
						bottom:-35
					},100);
					if (window.console && console.log) {
						// example return of current slide number
						console.log('animationStart on slide: ', current);
					};
				},
				animationComplete: function(current){
					$('.caption').animate({
						bottom:0
					},200);
					if (window.console && console.log) {
						// example return of current slide number
						console.log('animationComplete on slide: ', current);
					};
				},
				slidesLoaded: function() {
					$('.caption').animate({
						bottom:0
					},200);
				}
			});
		});
	</script>
   
<% end %>
<div class="row">
  <div id="container" class="span14 offset1">
	  <div id="example">
		  <div id="slides">
			  <div class="slides_container">
			    
			    <div class="slide">
				    <a href="http://www.flickr.com/photos/jliba/4665625073/" title="145.365 - Happy Bokeh Thursday! | Flickr - Photo Sharing!" target="_blank"><img src="http://slidesjs.com/examples/standard/img/slide-1.jpg" width="770" height="270" alt="Slide 1"></a>
				    <div class="caption" style="bottom:0">
						  <p>Clínica Integrada de Psiquiatria e Psicologia</p>
					  </div>
			    </div>
				  
				  <div class="slide">
				    <a href="http://www.flickr.com/photos/stephangeyer/3020487807/" title="Taxi | Flickr - Photo Sharing!" target="_blank"><img src="http://slidesjs.com/examples/standard/img/slide-2.jpg" width="770" height="270" alt="Slide 2"></a>
				    <div class="caption">
							<p>Slide Dr. José Ricardo</p>
						</div>
				  </div>
				  
 				  <div class="slide">
				    <a href="http://www.flickr.com/photos/childofwar/2984345060/" title="Happy Bokeh raining Day | Flickr - Photo Sharing!" target="_blank"><img src="http://slidesjs.com/examples/standard/img/slide-3.jpg" width="770" height="270" alt="Slide 3"></a>
				    <div class="caption">
							<p>Slide Dra. Grace</p>
						</div>
 				  </div>

			  </div>
			  <a href="#" class="prev"><img src="img/arrow-prev.png" width="24" height="43" alt="Arrow Prev"></a>
			  <a href="#" class="next"><img src="img/arrow-next.png" width="24" height="43" alt="Arrow Next"></a>
		  </div>
		  <img src="img/frame.png" width="940" height="341" alt="Moldura" id="frame">
	  </div>
  </div>
</div>

<!-- Example row of columns -->
<div class="row">
  <div class="span8">
    <h2>Psiquiatria Clínica</h2>
    <p>Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
    <p><a class="btn success" href="#">Ver detalhes &raquo;</a></p>
  </div>
  <div class="span8">
    <h2>Psicologia Clínica</h2>
     <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
    <p><a class="btn success" href="#">Ver detalhes &raquo;</a></p>
 </div>
 
 <img src="images/qualidade_vida.png">
 
</div>
