<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit" style="background-color:#FFFFFF;">
  <h1>Clínica Integrada de Psiquiatria e Psicologia</h1>
  <br/>
  <p>Nas últimas décadas tanto a psiquiatria como a psicologia têm avançado no diagnóstico e tratamento de doenças mentais e comportamentos disfuncionais que interferem na qualidade de vida das pessoas.</p>
  <p><a class="btn primary large">Ver mais &raquo;</a></p>
</div>

<!-- Example row of columns -->
<div class="row">
  <div class="span8">
    <h2>Psiquiatria Clínica</h2>
    <p>Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
    <p><a class="btn success" href="#">Ver detalhes &raquo;</a></p>
  </div>
  <div class="span8">
    <h2>Psicologia Clínica</h2>
     <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
    <p><a class="btn success" href="#">Ver detalhes &raquo;</a></p>
 </div>
</div>
