<div class="span-21" style="background-color:#dddddd;height:180px;margin-top:15px;">
  <center>
    <h3>Apresentação: foto de apresentação da Clínicia (os próprios doutores?), quem ou o que é a cara da CIPP? O que vcs querem que as pessoas
        lembrem ao pensar em vocês, que imagem querem passar pra elas?</h3>
  </center>
</div>

<div class="span-21" style="height:10px;"></div>

<div class="span-21" style="background-color:#CACCB6;height:150px;">
  <center>
    <h3>Introdução: quem somos, missão, história, aquelas coisas que toda empresa tem (ou deveria ter hehe)</h3>
  </center>
</div>

<div class="span-21" style="height:10px;"></div>

<div class="span-7" style="background-color:#A9C1D9;height:180px;">
  <center>
    <h3>Psiquiatria</h3>
  </center>
</div>

<div class="span-7" style="background-color:#A9C1D9;height:180px;">
  <center>
    <h3>Psicologia</h3>
  </center>
</div>

<div class="span-7" style="background-color:#A9C1D9;height:180px;">
  <center>
    <h3>Psicoterapia</h3>
  </center>
</div>
