<%= content_for :head do %>
  <%= stylesheet_link_tag 'showcase.css', :media => 'screen' %>
  <%= javascript_include_tag 'jquery.aw-showcase.min.js' %>      
  
  <script type="text/javascript">
    $(document).ready(function()
    {
	    $("#showcase").awShowcase(
	    {
		    content_width:			700,
		    content_height:			470,
		    fit_to_parent:			false,
		    auto:					true,
		    interval:				3000,
		    continuous:				false,
		    loading:				true,
		    tooltip_width:			200,
		    tooltip_icon_width:		32,
		    tooltip_icon_height:	32,
		    tooltip_offsetx:		18,
		    tooltip_offsety:		0,
		    arrows:					true,
		    buttons:				true,
		    btn_numbers:			true,
		    keybord_keys:			true,
		    mousetrace:				false, /* Trace x and y coordinates for the mouse */
		    pauseonover:			true,
		    stoponclick:			false,
		    transition:				'hslide', /* hslide/vslide/fade */
		    transition_delay:		0,
		    transition_speed:		500,
		    show_caption:			'onload', /* onload/onhover/show */
		    thumbnails:				false,
		    thumbnails_position:	'outside-last', /* outside-last/outside-first/inside-last/inside-first */
		    thumbnails_direction:	'vertical', /* vertical/horizontal */
		    thumbnails_slidex:		1, /* 0 = auto / 1 = slide one thumbnail / 2 = slide two thumbnails / etc. */
		    dynamic_height:			false, /* For dynamic height to work in webkit you need to set the width and height of images in the source. Usually works to only set the dimension of the first slide in the showcase. */
		    speed_change:			true, /* Set to true to prevent users from swithing more then one slide at once. */
		    viewline:				false, /* If set to true content_width, thumbnails, transition and dynamic_height will be disabled. As for dynamic height you need to set the width and height of images in the source. */
		    custom_function:		null /* Define a custom function that runs on content change */
	    });
    });
  </script>
  
<% end %>

<div class="row">
  <div id="showcase" class="span16 showcase">
  
    <div class="showcase-arrow-next"></div>
    <div class="showcase-arrow-previous"></div>
  
    <div class="showcase-slide">
      <div class="showcase-content">
        <div class="showcase-content-wrapper">
					<h1>Clínica Integrada de Psiquiatria<br/>e Psicologia de Toledo</h1>
					<p><em>Nas últimas décadas tanto a psiquiatria como a psicologia têm avançado no diagnóstico<br/>e tratamento de doenças mentais e comportamentos disfuncionais que interferem na qualidade<br/>de vida das pessoas.</em></p>
				</div>
      </div>
    </div>
    
    <div class="showcase-slide">
      <div class="showcase-content">
        <div class="showcase-content-wrapper">
					<h1>Clínica Integrada de Psiquiatria<br/>e Psicologia de Toledo</h1>
					<p><em>Nas últimas décadas tanto a psiquiatria como a psicologia têm avançado no diagnóstico<br/>e tratamento de doenças mentais e comportamentos disfuncionais que interferem na qualidade<br/>de vida das pessoas.</em></p>
				</div>
      </div>
    </div>
    
  </div>
</div>

<!-- Example row of columns -->
<div class="row">
  <div class="span8">
    <h2>Psiquiatria Clínica</h2>
    <p>Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
    <p><a class="btn success" href="#">Ver detalhes &raquo;</a></p>
  </div>
  <div class="span8">
    <h2>Psicologia Clínica</h2>
     <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
    <p><a class="btn success" href="#">Ver detalhes &raquo;</a></p>
 </div>
</div>
