<h1 class="nav_title"><%=t :visit_us %></h1>

<address>
  <strong>Clínica Integrada de Psiquiatria e Psicologia</strong>
  <br/>
  Rua Guarani, 1393 - Centro 
  <br/>
  Ed. Antares, salas 701 e 702
  <br/>
  Toledo, PR
  <br/>
  (45) 3277-2627
</address>

<div id="map"></div>

<script type="text/javascript">
  $(function() {
    $("#map").gMap({markers: [{latitude: -24.72991,
                               longitude: -53.73879,}],
                    zoom: 16});
  });
</script>
