<fieldset class="span-12-last">
  <legend>Venha nos visitar</legend>
  
  <h4>Rua Guarani, 1393 - Centro - Ed. Antares - Salas 701 e 702</h4>
  <h3>Toledo - Paraná - Brasil</h3>
  <h3>☎ (45) 3277-2627</h3>
  
  <iframe width="300" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?                    f=q&amp;source=s_q&amp;hl=pt-BR&amp;geocode=&amp;q=Rua+Guarani+1391,+Toledo+-+Paran%C3%A1,+Brasil&amp;aq=t&amp;sll=-24.729923,-53.738784&amp;sspn=0.001471,0.00284&amp;ie=UTF8&amp;hq=&amp;hnear=R.+Guarani,+1391+-+Centro,+Toledo+-+Paran%C3%A1,+85900-190,+Brasil&amp;ll=-24.729253,-53.739753&amp;spn=0.011694,0.012875&amp;z=15&amp;output=embed">
  </iframe>
  <br />
  <small>
    <a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=pt-BR&amp;geocode=&amp;q=Rua+Guarani+1391,+Toledo+-+Paran%C3%A1,+Brasil&amp;aq=t&amp;sll=-24.729923,-53.738784&amp;sspn=0.001471,0.00284&amp;ie=UTF8&amp;hq=&amp;hnear=R.+Guarani,+1391+-+Centro,+Toledo+-+Paran%C3%A1,+85900-190,+Brasil&amp;ll=-24.729253,-53.739753&amp;spn=0.011694,0.012875&amp;z=15" style="color:#0000FF;text-align:left">Exibir mapa ampliado</a>
  </small>
  
</fieldset>
