<% content_for :title do %>/Contato<% end %>


<%= content_for :head do %>
  <script type="text/javascript" src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAKuIY81dVF-yBFFLXOr_XZxTiI7FsyRnoW5nuhXkLUuLGGWZbhhR6HJDlZqksEnNwXApw9A08SVgiHA"></script>
  <%= javascript_include_tag 'jquery.gmap-1.1.0-min.js' %> 
<% end %>

<div class="row">
  <div  class="span8">
    <%= render 'contact_form' %>
  </div>
  <div  class="span8">
    <%= render 'address_form' %>
  </div>
</div>
